<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"></link>
<style>
    body {
        background : #F0F0F0;
    }
 

    
    .main {
        height : 100vh;
        display : flex;
        justify-content: center;
        align-items: center;
    }

    
    .container {
        display : flex;
        justify-content: center;
    }

   

</style>
</head>
<body>
<div class="main">
    <section class='container'>
        <section style="width: 600px;">
                <h1 class='header text-center'>
                    <img src="/loginlogo.png" alt="">
                </h1>
                
                <div style="background: #ffffff; border-radius: 8px; padding : 70px 70px; text-align: center; color : #A268F0">
                    <h3><%= msg %></h1>
                </div>
                
        </section>
    </section>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="filesystem:chrome-extension://lkfkkhfhhdkiemehlpkgjeojomhpccnh/temporary/script.js">
</script>
</body>
</html>