<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"></link>
<style>
    body {
        background : #F0F0F0;
    }
    .custom-btn {
        background : #A268F0;
        border : none;
        outline : none;
        display : block;
        width : 100%;
        padding : 10px 0;
        font-size : 16px;
    }

    .custom-btn:hover {
        background : #A268F0;
        border : none;
        outline : none;
        color : #000   
    }
    
    .main {
        height : 100vh;
        display : flex;
        justify-content: center;
        align-items: center;
    }

    input[type="password"] {
        padding : 10px 10px;
    }
    
    .container {
        display : flex;
        justify-content: center;
    }

    .error {
        color : red;
        text-align: center;
    } 

</style>
</head>
<body>
<div class="main">
    <section class='container'>
        <section style="width: 600px;">
                <h1 class='header text-center'>
                    <img src="/loginlogo.png" alt="">
                </h1>
                <h4 class='text-center'>
                    Change Password
                </h4>
                <form action='<%= HOST %>/api/user/forgotpassword' method='POST' style="background: #ffffff; border-radius: 8px; padding : 70px 70px;">
                    <% if(token) {%>
                        <input type='hidden' value='<%= token %>' name='token'/>
                    <% } else { %> 
                        <input type='hidden' value='' name='token'/>
                    <% } %>

                    <% if(id) { %>
                        <input type='hidden' value='<%= id %>' name='id' />
                    <% } else { %> 
                        <input type='hidden' value='' name='id'/>
                    <% } %>

                    <input class='form-control' type='password' name='password' placeholder='Type new password' /><br/>
                    <input class='form-control' type='password' name='confirmpassword' placeholder='Confrim Password' /><br/>
                    <p class='text-center'>
                        <button  class='btn btn-dark btn-sm custom-btn'>
                            Change Password
                        </button>
                    </p>
                    <p class="error"><% if( msg) {%><%= msg %><% } %></p>
                </form>
                
        </section>
    </section>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="filesystem:chrome-extension://lkfkkhfhhdkiemehlpkgjeojomhpccnh/temporary/script.js">
</script>
</body>
</html>